body{
    background: #fbffc5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  	line-height: 1.7;
    font-weight: 700;
}


.container h1{
    color: transparent;
    font-weight: 900;
    font-size: 30pt;
    font-style: italic;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}
.container {
    width: 80%;
    margin-block-start: 0%;
    margin-top: 0% auto;
}

.container2 {
    margin-top: 50px;
    width: 80%;
    margin: 0 auto;
    background: rgba(168, 168, 168, 0.2);
}

nav {
    float: left;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 55px;
    position: relative;
}
button {
    border-radius: 15px;
    background-color: transparent;
    border-color: #000000;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    
}
button:hover {
    border-radius: 15px;
    background-color: #000000;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    
}

header {
    background: #e3e663;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.closebtn {
    border-radius: 50px;
    background-color: hwb(29 2% 1%);
    float: right;
    color: black;
    padding: 10px;
    margin-top: 12px;
    margin-right: 30px;
    font-size: 30px;
    cursor: pointer;
  }

  .closebtn:hover {
    border-radius: 50px;
    background-color: hsl(29, 75%, 55%);
    float: right;
    color: black;
    margin-top: 12px;
    font-size: 30px;
    cursor: pointer;
  }